<div id="imgListContent" class="container">
<%
    console.log(collection);

	for( var i = collection.length ; i > 0 ; i-- ){
		var thumbnailURL, projectName, projectBrief, projectStatus;

        console.log(collection[ i - 1 ].thubmnailFileName);
        var thumbnailURL = collection[ i - 1 ].thubmnailFileName;

        if(thumbnailURL == "null"){
            thumbnailURL = 'null_small.jpg';
        }

		projectName   = collection[i - 1].name;
		projectBrief  = collection[i - 1].brief;
		projectStatus = collection[i - 1].status;

        var startDate = collection[i - 1].startDate;
        var endDate   = collection[i - 1].endDate;

        var contentId = collection[i - 1].objectId;
		
%>
	 <div class="col-md-4">
	 	<div class="thumbnail">
	 		<img src="images/<%= thumbnailURL %>" alt="">
	 	</div>
		<div class="des">
			<h4 class="projectName"><%= projectName %></h4>
            <p class="schedule">
                schedule: <%= startDate %> - <%= endDate %>
            </p>
			<p class="brief"><%= projectBrief %></p>



			<p class='content_btn'>
				
				<% if(projectStatus != 'done'){ %> 
				<a class= "btn btn-info" href="#">
	                start Project
	            </a>
	            <% } %>

	            <a class= "btn" href="#detail/<%= contentId %>">
	                More Detail
	            </a>

	        </p>


		</div>

	 </div>
<%		
	}
 %>
 </div>