#timer-wrapper{
  overflow: hidden;
  height: 0px;

  @include single-transition($property: height, $duration: 1s, $function: ease-in-out);


  &.active{
    height: 80px;
  }

  #timer-container{
    width: 100%;
    margin-top: 25px;
    overflow: hidden;

    #timer-content{
      float: left;
    }

    #timer-bt{
      float: right;
    }

  }

}